{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/cart.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">welcome to cart</h1>
    <div class="row">
        {% for c in cart_item %}
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="card">
            <img class="card-img-top" src="{{ c.item.pro_image.url }}" alt="" style="width: 100%;">
            <div class="card-body">
                <h4 class="card-title">{{c.item.pro_name}}</h4>
                <p class="card-text">SIZE :{{c.size}}</p>
                <p class="card-text"><button class="btn btn-success" style="padding-left: -10px;"><a href="{% url 'decrease' c.id %}">-</a></button>{{c.quantity}}<button class="btn btn-success" style="padding-right: -10px;"><a href="{% url 'increase' c.id %}">+</a></button></p>
                <p class="card-text"><b>Price:</b> RS {{c.item.pro_price}}</p>
                <p class="card-text"><i class='bx bxs-shopping-bag'></i>Sub total: ${{c.subtotal}}</p>
                <p class="card-text" style="color: #4caf50;">Free delivery</p>
                <p class="card-text"><button class="btn btn-success"><a href="{% url 'rmv' c.id %}">Remove</a></button></p>
                
                
            </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
    
    <p>Total price: ${{ total_price }}</p>
    <button class="Buy Now" style="border-radius: 4px;"><a href="{% url 'address' %}">Buy Now</a><i class='bx bxs-shopping-bag'></i></button>
    <button class="remove-all" ><a href="{% url 'remove' %}">Remove all</a></button><br><br>
    
    <section class="footer">
        <div class="footer-box">
            <h3 style="margin-left :20px;">ZIVA COLLECTION</h3>
            <p>ZIVA is amazing.Every one have to<br> try it.i'am just addicted to the latte<br> ZIVA,it is just wow..!</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-tiktok' ></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <li><a href="#">Product</a></li>
            <li><a href="#">HELP & Support</a></li>
            <li><a href="#">Return policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          
      
        </div>
        <div class="footer-box">
            <h3>View Guides</h3>
            <li><a href="#">Features</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog posts</a></li>
            <li><a href="#">Our branches</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map' ></i>250 New York , USA 1001</span>
                <span><i class='bx bxs-phone' ></i>+1 444 7444</span>
                <span><i class='bx bxs-envelope' ></i>burger@gmail.com</span>
            </div>
        </div>
      
      
      </section>
    
 
    
</body>
    

</html>