
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/payment.css' %}">
</head>
<body>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            <label>SELECT METHOD OF PAYMENT</label><br><br>
           
            <input type="radio" id="upi" name="payment" value="upi">
            <label>Pay UPI</label><br>
            
            <input type="radio" id="card" name="payment" value="card">
            <label>Credit or Debit card</label><br>
           
            <input type="radio" id="delivey" name="payment" value="delivery">
            <label>Cash on delivery</label><br>
            <input type="submit" onclick="order()"  value="Place Order ">
        </form>
    </div>
    <script>
        function order() {
            alert("PRODUCT IS ORDERED");
          }
    </script>
</body>
</html>